/* @layer reset, base, layout, components, utilities; */

:root {
   --clr-primary-100: hsl(0, 0%, 100%);
   --clr-primary-300: hsl(0, 0%, 95%); /*? used only for 1 paragraph */
   --clr-primary-400: hsl(0, 0%, 45%);
   --clr-primary-900: hsl(0, 0%, 0%);
   --clr-secondary: hsl(209, 73%, 15%);
   --clr-tertiary: hsl(149, 70%, 65%);

   --ff-primary: 'Open Sans', sans-serif;
   --ff-secondary: 'Manrope', sans-serif;

   --fw-regular: 400;
   --fw-semi-bold: 600;
   --fw-bold: 700;

   --fs-300: 0.875rem;
   --fs-400: 1rem;
   --fs-500: 1.25rem;
   --fs-600: 1.5rem;
   --fs-700: 2.25rem;
   --fs-800: 3rem;

   /* sizes (desktop): 0.5, 0.75, 1, 1.5, 2, 2.5, 3.5, 4.5, 5, 5.25, 6, 9, 13, 15 (rem); */
   --spacing-50: 0.35rem;
   --spacing-100: 0.5rem;
   --spacing-150: 0.75rem;
   --spacing-200: 1rem;
   --spacing-250: 1.5rem;
   --spacing-300: 2rem;
   --spacing-350: 2.5rem;
   --spacing-400: 3.5rem;
   --spacing-450: 4.5rem;
   --spacing-500: 5rem;
   --spacing-550: 5.25rem;
   --spacing-600: 6rem;
   --spacing-650: 9rem;
   --spacing-700: 13rem;
   --spacing-750: 15rem;
}

@layer reset {
   /* Use a more-intuitive box-sizing model. */
   *,
   *::before,
   *::after {
      box-sizing: border-box;
   }

   /* Remove default margins and paddings */
   * {
      margin: 0;
      padding: 0;
   }

   /* Add accessible line-height */
   body {
      line-height: calc(1em + 0.5rem);
   }

   /* delete default dots before list item for lists with a class 
   * [class] is optional 
   */
   ul[class],
   ol[class] {
      list-style: none;
   }

   /* Improve media defaults */
   img,
   picture,
   video,
   canvas,
   svg {
      display: block;
      max-width: 100%;
      /* when image doesn't load */
      font-style: italic;
   }

   /* Remove built-in form typography styles */
   input,
   button,
   textarea,
   select {
      font: inherit;
   }

   /* Avoid text overflows */
   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      overflow-wrap: break-word;
   }

   /* Smooth scroll behavior */
   html:focus-within {
      scroll-behavior: smooth;
   }

   /* Remove all animations, transitions and smooth scroll for people that prefer not to see them  */
   @media (prefers-reduced-motion: reduce) {
      html:focus-within {
         scroll-behavior: auto;
      }

      *,
      *::before,
      *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
      }
   }
}

@layer base {
   body {
      font-family: var(--ff-primary);
      font-weight: var(--fw-regular);
      font-size: var(--fs-400);
      color: var(--clr-primary-900);
      border-color: var(--clr-primary-100);
   }

   a:not([class]) {
      color: inherit;
   }

   a[class] {
      text-decoration: none;
   }

   p:not([class]) {
      color: var(--clr-primary-400);
      max-width: 37.5ch;
      text-wrap: balance;
   }

   p[data-width='wide'] {
      max-width: 55ch;
   }
}

@layer layout {
   .primary-header {
      padding-top: var(--spacing-300);
      padding-bottom: var(--spacing-650);
   }

   .nav-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .primary-nav {
      display: flex;
      margin-left: auto;
      margin-right: var(--spacing-500);
      gap: var(--spacing-300);
   }

   .primary-nav > a {
      padding: 0.5em;
   }

   .search {
      margin-block: var(--spacing-400);
      border-radius: 2rem;
      color: var(--clr-primary-100);
   }

   .search-form {
      display: flex;
      justify-content: space-around;
      text-align: center;
      gap: var(--spacing-300);
      font-size: var(--fs-600);
   }

   .change-direction-button {
      background-color: var(--clr-primary-900);
   }

   .testimonials {
      padding-top: var(--spacing-600);
      padding-bottom: var(--spacing-450);
   }

   .testimonial-card {
      height: min-content;
      padding: var(--spacing-350);
      border-radius: 0.75rem;
      box-shadow: 0rem 0.75rem 2rem 0rem hsl(0 0% 0% / 50%);
   }

   .testimonial-card > p {
      margin-bottom: var(--spacing-250);
   }

   .testimonial-card > .author {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--spacing-200);
      align-items: center;
   }
}

@layer components {
   .button {
      display: inline-flex;
      padding: var(--spacing-200) var(--spacing-400);
      border: 0;
      border-radius: 100vh;
      font-weight: var(--fw-bold);
      color: var(--clr-primary-100);
      background-color: var(--clr-secondary);
      cursor: pointer;
      text-decoration: none;
   }

   .button[data-width='small'] {
      padding: var(--spacing-100) var(--spacing-350);
   }

   .arrow {
      border: 0;
      border-radius: 100vh;
      cursor: pointer;
   }

   .logo {
      display: flex;
      align-items: center;
      font-family: var(--ff-secondary);
      font-size: var(--fs-700);
      font-weight: var(--fw-bold);
      color: var(--clr-secondary);
      line-height: 1.2;
   }

   /* todo: move logo left by some amount */
   .logo[data-translated='true'] {
      margin-left: calc(-1 * var(--spacing-400));
   }
}

@layer utilities {
   .u-hide-visually {
      position: absolute !important;
      clip: rect(0 0 0 0); /* IE6, IE7 */
      clip: rect(0, 0, 0, 0);
      width: 1px !important;
      height: 1px !important;
      margin: -1px !important;
      padding: 0 !important;
      border: 0 !important;
      overflow: hidden;
      white-space: nowrap;
   }

   .even-columns {
      --_column-gap: var(--spacing-250);
      display: grid;
      grid-auto-columns: 1fr;
      gap: var(--_column-gap);

      @media (min-width: 55rem) {
         grid-auto-flow: column;
         grid-auto-columns: 1fr;
      }
   }

   /* complex but useful grid system instead of containers */
   .content-grid,
   .full-width {
      --_padding-inline: 1rem;
      --_content-max-width: 70rem;
      --_breakout-max-width: 72.5rem;

      --_breakout-size: calc(
         (var(--_breakout-max-width) - var(--_content-max-width)) / 2
      );

      display: grid;
      grid-template-columns:
         [full-width-start] minmax(var(--_padding-inline), 1fr)
         [breakout-start] minmax(0, var(--_breakout-size))
         [content-start] min(
            100% - (var(--_padding-inline) * 2),
            var(--_content-max-width)
         )
         [content-end]
         minmax(0, var(--_breakout-size)) [breakout-end]
         minmax(var(--_padding-inline), 1fr) [full-width-end];
   }

   .content-grid > :not(.breakout, .full-width),
   .full-width > :not(.breakout, .full-width) {
      grid-column: content;
   }

   .content-grid > .breakout {
      grid-column: breakout;
   }

   .content-grid > .full-width {
      grid-column: full-width;
   }

   .primary-heading {
      font-family: var(--ff-secondary);
      font-size: var(--fs-800);
      font-weight: var(--fw-regular);
      line-height: 1.5;
      max-width: 35ch;
   }

   .secondary-heading {
      font-family: var(--ff-secondary);
      font-size: var(--fs-700);
      font-weight: var(--fw-regular);
      line-height: 1.5;
      max-width: 25ch;
   }

   .text-center {
      text-align: center;
      margin-inline: auto;
   }

   .text-primary-100 {
      color: var(--clr-primary-100);
   }
   .text-primary-300 {
      color: var(--clr-primary-300);
   }
   .text-primary-400 {
      color: var(--clr-primary-400);
   }
   .text-primary-900 {
      color: var(--clr-primary-900);
   }
   .text-secondary {
      color: var(--clr-secondary);
   }
   .text-tertiary {
      color: var(--clr-tertiary);
   }

   .bg-primary-100 {
      background-color: var(--clr-primary-100);
   }
   .bg-primary-300 {
      background-color: var(--clr-primary-300);
   }
   .bg-secondary {
      background-color: var(--clr-secondary);
   }
   .bg-tertiary {
      background-color: var(--clr-tertiary);
   }

   .fw-bold {
      font-weight: var(--fw-bold);
   }
   .fw-semi-bold {
      font-weight: var(--fw-semi-bold);
   }
   .fw-regular {
      font-weight: var(--fw-regular);
   }

   .mb-100 {
      margin-bottom: var(--spacing-100);
   }
   .mb-150 {
      margin-bottom: var(--spacing-150);
   }
   .mb-200 {
      margin-bottom: var(--spacing-200);
   }
   .mb-250 {
      margin-bottom: var(--spacing-250);
   }
   .mb-300 {
      margin-bottom: var(--spacing-300);
   }
   .mb-350 {
      margin-bottom: var(--spacing-350);
   }
   .mb-400 {
      margin-bottom: var(--spacing-400);
   }
   .mb-450 {
      margin-bottom: var(--spacing-450);
   }
   .mb-500 {
      margin-bottom: var(--spacing-500);
   }
   .mb-550 {
      margin-bottom: var(--spacing-550);
   }
   .mb-600 {
      margin-bottom: var(--spacing-600);
   }
   .mb-650 {
      margin-bottom: var(--spacing-650);
   }
   .mb-700 {
      margin-bottom: var(--spacing-700);
   }
   .mb-750 {
      margin-bottom: var(--spacing-750);
   }

   .mt-400 {
      margin-top: var(--spacing-400);
   }

   @media screen and (min-width: 55rem) {
      .img-fluid {
         width: 100%;
      }

      .order-lg-1 {
         order: 1;
      }
   }
}
